.mainNavInnerWrap
	.logo
		a(href="index.html")
			span.icoItem
				img(src="images/icoLogo.svg", alt="")
			span.fullItem
				img(src="images/logo.svg", alt="")
	nav.mainNav
		ul
			li.active
				a(href="index.html") 
					span.icoItem
						i.icon-nav-item1
					span.fullItem Dashboard
			li
				a(href="notifications.html")
					span.icoItem
						i.icon-nav-item2
					span.fullItem Notifications
			li
				a(href="subscribers.html") 
					span.icoItem
						i.icon-nav-item3
					span.fullItem Subscribers
			li
				a(href="feedback.html") 
					span.icoItem
						i.icon-nav-item4
					span.fullItem Feedback
			li
				a.dropDownItem(href="#sumNavBar1") 
					span.icoItem
						i.icon-nav-item5
					span.fullItem Content
	.navBarHr
	nav.minNav
		ul
			li
				a(href="settings-general.html") 
					span.icoItem
						i.icon-options
					span.fullItem Settings
			li
				a(href="activity-log.html") 
					span.icoItem
						i.icon-activity-log
					span.fullItem Activity Log
	.navBarFooter
		a.link1(href="#", target='_blank') www.ulduzum.az
		.poweredBy Powered by Magnum
.sumNavBar#sumNavBar1
	.navTitle PROJECT STRUCTURE
	nav.sumNav
		ul
			li.active
				a(href="faq.html")
					i.icon-archive2
					span FAQ
			li
				a(href="terms-privacy.html")
					i.icon-file
					span Terms & Privacy
