<!DOCTYPE html>
html(lang="en")
	head
		include includes/_head.jade
	body
		// start #mainWrap
		#mainWrap
			// start #mainNavBar
			#mainNavBar
				include includes/_main_nav_bar.jade
			// end #mainNavBar
			// start #header
			#header
				include includes/_header.jade
			// end #header
			// start #content
			#content
				.mainContainer
					.pageContent.contentShow
						.contentHead
							.title-1 Feedback
						nav.contentTabs
							ul
								li.active
									a ALL
								li
									a(href="#") ARCHIVE
						.contentBlock
							.clearFix
								.searchForm.left
									.searchInput
										input(type="text", placeholder='Search')
										button.searchInputBtn(type='submit')
											i.icon-search
									.select1.selectAutoWidth
										select.styler
											option(value="") All
											option(value="") Positive
											option(value="") Negative
											option(value="") Question
											option(value="") Proposal
								a.btn0.btnRed.right(href="#") Archive
							.hr1
							.table1
								table
									thead
										tr
											td
											td USER
											td(width='50%') FEEDBACK
											td PARTNER
											td(align='right') DATE / TYPE
											td
									tbody
										tr
											td
												input.styler(type="checkbox")
											td.btnModal(data-modal='#reply')
												p
													strong Rasim Rahmanov
												p
													span.greyText +994 55 757 96 06
											td.btnModal(data-modal='#reply')
												p
													strong Subject
												p 
													span.greyText Phasellus id nibh quis massa imperdiet dignissim sit amet in urna. Maecenas vitae posuere nisi. Nam laoreet….
											td
												span Vegas Optic
											td(align='right')
												p 21:35 &nbsp;
													span.greyText 12.02.2018
												.typeGreen Positive
											td
												.tableButtons
													a(href="#")
														i.icon-archive
										tr
											td
												input.styler(type="checkbox")
											td.btnModal(data-modal='#reply')
												p
													strong Rasim Rahmanov
												p
													span.greyText +994 55 757 96 06
											td.btnModal(data-modal='#reply')
												p
													strong Subject
												p 
													span.greyText Phasellus id nibh quis massa imperdiet dignissim sit amet in urna. Maecenas vitae posuere nisi. Nam laoreet….
											td
												span McDonalds
											td(align='right')
												p 21:35 &nbsp;
													span.greyText 12.02.2018
												.typeGreen Positive
											td
												.tableButtons
													a(href="#")
														i.icon-archive
										tr
											td
												input.styler(type="checkbox")
											td.btnModal(data-modal='#reply')
												p
													strong Rasim Rahmanov
												p
													span.greyText +994 55 757 96 06
											td.btnModal(data-modal='#reply')
												p
													span.label1.labelGreen Replied
													strong  Subject
												p 
													span.greyText Phasellus id nibh quis massa imperdiet dignissim sit amet in urna. Maecenas vitae posuere nisi. Nam laoreet….
											td
												span Application
											td(align='right')
												p 21:35 &nbsp;
													span.greyText 12.02.2018
												.typeRed Negative
											td
												.tableButtons
													a(href="#")
														i.icon-archive
										tr
											td
												input.styler(type="checkbox")
											td.btnModal(data-modal='#reply')
												p
													strong Rasim Rahmanov
												p
													span.greyText +994 55 757 96 06
											td.btnModal(data-modal='#reply')
												p
													strong Subject
												p 
													span.greyText Phasellus id nibh quis massa imperdiet dignissim sit amet in urna. Maecenas vitae posuere nisi. Nam laoreet….
											td
												span Ideal
											td(align='right')
												p 21:35 &nbsp;
													span.greyText 12.02.2018
												.typeGrey Question
											td
												.tableButtons
													a(href="#")
														i.icon-archive
										tr
											td
												input.styler(type="checkbox")
											td.btnModal(data-modal='#reply')
												p
													strong Rasim Rahmanov
												p
													span.greyText +994 55 757 96 06
											td.btnModal(data-modal='#reply')
												p
													strong Subject
												p 
													span.greyText Phasellus id nibh quis massa imperdiet dignissim sit amet in urna. Maecenas vitae posuere nisi. Nam laoreet….
											td
												span Spar Yasamal
											td(align='right')
												p 21:35 &nbsp;
													span.greyText 12.02.2018
												.typeGrey Proposal
											td
												.tableButtons
													a(href="#")
														i.icon-archive
										tr
											td
												input.styler(type="checkbox")
											td.btnModal(data-modal='#reply')
												p
													strong Rasim Rahmanov
												p
													span.greyText +994 55 757 96 06
											td.btnModal(data-modal='#reply')
												p
													strong Subject
												p 
													span.greyText Phasellus id nibh quis massa imperdiet dignissim sit amet in urna. Maecenas vitae posuere nisi. Nam laoreet….
											td
												span 2Teker
											td(align='right')
												p 21:35 &nbsp;
													span.greyText 12.02.2018
												.typeRed Negative
											td
												.tableButtons
													a(href="#")
														i.icon-archive
							.contentFoot
								ul.pagination.left
									li.page-item
										a.page-link(href="#")
											i.icon-paginator-arrow-left
									li.page-item
										a.page-link(href="#") 1
									li.page-item
										a.page-link(href="#") 2
									li.page-item
										a.page-link(href="#") 3
									li.page-item
										span ...
									li.page-item
										a.page-link(href="#") 17
									li.page-item
										a.page-link(href="#") 18
									li.page-item
										a.page-link(href="#") 19
									li.page-item
										a.page-link(href="#")
											i.icon-paginator-arrow-right
								.viewCount.right
									label Display on page
									select.styler
										option(value="20") 20
										option(value="40") 40
										option(value="60") 60
			// end #content
			.modalWindow#reply
				.modalWindowMask
				.modalWindowBody
					.modalWindowClose
						i.icon-close
					.feedbackModalHead
						.userName Rasim Rahmanov
						.greyText +994 55 757 96 06
					.feedbackModalContent
						p
							strong Subject
						p Nulla vestibulum, diam laoreet commodo suscipit, justo arcu rutrum dui, vitae aliquet velit libero id urna. Integer sollicitudin tincidunt mi, ac lacinia quam iaculis sit amet. Nulla at eros aliquet, pretium metus ac, molestie urna. Suspendisse potenti. In lobortis odio placerat augue congue, at blandit felis tincidunt. Mauris vitae iaculis augue, in pharetra urna. Cras posuere quis augue in cursus. Mauris velit tortor, suscipit et malesuada ac, facilisis nec nibh. Phasellus mollis tempus ante ac posuere.
					.feedbackModalForm
						.formControl
							.field
								textarea(rows="5", placeholder='Write your reply…')
					.modalWindowFooter.textRight
						button(type='button').btn0.btn2 Cancel
						button(type='submit').btn0.btn1 Send
		// end #mainWrap
