@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?trf1mk');
  src:  url('../fonts/icons/icomoon.eot?trf1mk#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?trf1mk') format('truetype'),
    url('../fonts/icons/icomoon.woff?trf1mk') format('woff'),
    url('../fonts/icons/icomoon.svg?trf1mk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\e916";
}
.icon-pen:before {
  content: "\e915";
}
.icon-marker:before {
  content: "\e900";
}
.icon-trash:before {
  content: "\e901";
}
.icon-activity-log:before {
  content: "\e902";
}
.icon-archive:before {
  content: "\e903";
}
.icon-archive2:before {
  content: "\e904";
}
.icon-arrow1-left:before {
  content: "\e905";
}
.icon-arrow1-right:before {
  content: "\e906";
}
.icon-calendar:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-file:before {
  content: "\e909";
}
.icon-nav-item1:before {
  content: "\e90a";
}
.icon-nav-item2:before {
  content: "\e90b";
}
.icon-nav-item3:before {
  content: "\e90c";
}
.icon-nav-item4:before {
  content: "\e90d";
}
.icon-nav-item5:before {
  content: "\e90e";
}
.icon-options:before {
  content: "\e90f";
}
.icon-paginator-arrow-left:before {
  content: "\e910";
}
.icon-paginator-arrow-right:before {
  content: "\e911";
}
.icon-plus:before {
  content: "\e912";
}
.icon-search:before {
  content: "\e913";
}
.icon-user:before {
  content: "\e914";
}
